@import '../../styles/colors';

.BigCard{
  position: relative;
  border: 3px solid $teal;
  margin-top: 20px;
  padding: 20px;
  .close-btn {
    float: right;
    cursor: pointer !important;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .LegoCard:nth-child(2n + 1) .BigCard{
    width: calc(200% + 24px);
  }

  .LegoCard:nth-child(2n + 2) .BigCard{
    width: calc(200% + 24px);
    left: calc(-100% - 24px);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .LegoCard:nth-child(3n + 1) .BigCard{
    width: calc(300% + 48px);
  }

  .LegoCard:nth-child(3n + 2) .BigCard{
    width: calc(300% + 48px);
    left: calc(-100% - 24px);
  }

  .LegoCard:nth-child(3n + 3) .BigCard{
    width: calc(300% + 48px);
    left: calc(-200% - 48px);
  }
}

@media only screen and (min-width: 1200px) {
  .LegoCard:nth-child(4n + 1) .BigCard{
    width: calc(400% + 72px);
  }

  .LegoCard:nth-child(4n + 2) .BigCard{
    width: calc(400% + 72px);
    left: calc(-100% - 24px);
  }

  .LegoCard:nth-child(4n + 3) .BigCard{
    width: calc(400% + 72px);
    left: calc(-200% - 48px);
  }

  .LegoCard:nth-child(4n + 4) .BigCard{
    width: calc(400% + 72px);
    left: calc(-300% - 72px);
  }
}
